.vegetables{
    background-color: #ff7675;
    width: 50%;
    height: 90vh;
    border: 5px solid black;

}
.itemlist{
    border: 2px solid black;
    width: 60%;
    margin-left: 20%;
    height: 50%;
    font-size: larger;
    font-weight: 600;
    
}
.itemlist>ul>li{
    list-style: none;
    margin-top: 2%;
}
 .btn{
     padding: 2%;
     margin-top: 1%;font-size: large;
     margin-left: 1%;
     border-radius: 50%;
 }