.wishlist{
    background-color: #ff7675;
    width: 50%;
    height: 90vh;
    border: 5px solid black;
}
.item{
    font-size: medium;
    font-weight: 600;
}

.h2{
    margin-top: 2%;
}
.btn{
    padding: 1%;
    border-radius: 10px;
    margin-left: 2%;
}
.input{
    padding: .5%;
}