*{
  padding: 0%;
  margin: 0%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.top{
  position: fixed;
  background-color: black;
  color: white;
  height: 8vh;
  width: 100%;
}
.bottom{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}